
.scrollTable {
  overflow-x: auto;
  transform: rotate(180deg);
  .tableCompare {
    font-size: 15px;
    color: #5a5a5a;
    transform: rotate(-180deg);
    .cardInfo{
      overflow-x: scroll;
      display: flex;
    }
    .flowersParams{
      display: flex;
    }
    tr {

    }
    td {
      padding: 10px;
      width: 250px;
      text-align: center;
    }
    &__cardTd {
      position: relative;
      .close {
        z-index: 100;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px;
        cursor: pointer;
        line-height: 0;
        border-radius: 100%;
        font-size: 14px;
        color: #676767;
        background: #fff;
        transition: all .5s;
        display: block;
        &:hover {
          color: #fff;
          background: #d42853;
        }
      }
    }
    &__sortBy {
      font-weight: 600;
      font-size: 16px;
    }

  }
}

.cardFlower {
  width: 200px;
  margin: 0 auto;
  padding: 5px;
  .cardImage {
    width: 100%;
    overflow: hidden;
    background: #fff;
    position: relative;
    cursor: pointer;
    img {
      max-width: 90%;
      margin: 0 auto;
      display: block;
    }
  }
  .cardContent {
    margin-top: 40px;
    text-align: center;
  }

  .cardTitle {
    color: #000;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    display: block;
    height: 50px;
    &:hover {
      color: #d42853;
    }
  }
  .price {
    font-size: 22px;
    color: #16171a;
    text-align: center;
    font-weight: 600;
  }
}

