
.cardFlower {
  width: 250px;
  margin: 0 5px;
  padding: 5px;
  margin-bottom: 50px;
  .cardImage {
    width: 100%;
    overflow: hidden;
    background: #fff;
    position: relative;
    height: 240px;
    display: flex;
    justify-content: center;
    .close {
      z-index: 100;
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 5px;
      cursor: pointer;
      line-height: 0;
      border-radius: 100%;
      font-size: 14px;
      color: #676767;
      background: #fff;
      transition: all .5s;
      display: block;
      &:hover {
        color: #fff;
        background: #d42853;
      }
    }
    &__order{
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
    .badges{
      position: absolute;
      top: 10px;
      left: 10px;
      display: flex;
      .badgeItem{
        padding: 2px 7px;
        margin: 0 2px;
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
        border-radius: 13px;
      }
    }
    img {
      max-width: 90%;
      margin: 0 auto;
    }
    &__showCard {
      position: absolute;
      height: 100%;
      padding-top: 51%;
      width: 100%;
      background: rgba(0, 0, 0, 0.12);
      display: flex;
      opacity: 0;
      justify-content: center;
      transition: all .5s;
    }
    &__orderIcon {
      cursor: pointer;
      background: #d7d7d7;
      border-radius: 20px;
      padding: 5px;
      box-shadow: white;
      color: #d42853;
      width: 41px;
      height: 40px;
      transform: translateY(-50px);
      transition: all .3s;
      &:hover {
        box-shadow: 0px 0px 15px white;
      }
    }
    &:hover {
      .cardImage__showCard {
        opacity: 1;
      }
      .cardImage__orderIcon {
        transform: translateY(0px);
      }
    }
  }
  .cardContent {
    margin-top: 40px;
  }

  .cardTitle {
    color: #000;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    display: block;
    height: 50px;
  }
  .price {
    font-size: 22px;
    color: #3f3f3f;
    text-align: center;
    font-weight: 700;
    .priceAndColors{
      display: flex;
      justify-content: center;
      .colors{
        display: flex;
        margin: 5px;
        .colorsItem{
          background: rgba(9, 183, 65, 0.1);
          display: block;
          width: 30px;
          height: 30px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          border-radius: 15px;
          //border: 2px solid #afb1b7;
          padding: 2px;
          position: relative;
          margin: 5px 2px;
          color: #fff;
          transition: all .3s;
        }

      }
      span{
        margin: 10px 0 20px;
      }
    }
  }
  .panel {
    display: flex;
    justify-content: space-evenly;
    .iconsPanel {
      margin-top: 10px;
      a {
        color: #afb1b7;
        transition: all .3s;
        cursor: pointer;
        &:hover {
          color: #16171a;
        }
        &.active{
          color: #d42853;
          &:hover {
            color: #d42853;
          }
        }
      }

    }

    .addToCart {
      padding: 10px;
      border-radius: 30px;
      background: none;
      color: #afb1b7;
      border: 2px solid currentColor;
      height: 53px;
      transition: all .3s;
      cursor: pointer;
      width: 136px;
      &__default{
        display: flex;
        justify-content: center;
      }
      &:hover {
        background: #16171a;
        border: 2px solid #16171a;
        span {
          color: #fff;
        }
        i {
          color: #fff;
        }
      }
      &__success{
        color: #09b741;
        .addToCart__active, .addToCart__disabled{
          display: flex;
          transition: all .2s ease-in-out;
          justify-content: center;
          overflow: hidden;
        }
        .addToCart__active{
          transform: translateX(0px);
          visibility: visible;
        }
        .addToCart__disabled{
          transform: translateY(0px);
          opacity:0;
          visibility: hidden;
        }
        &:hover{
          background: transparent;
          border: 2px solid #d42853;
          span{
            color: #d42853;
          }
          i{
            color: #d42853;
          }
          .addToCart__active{
            transform: translateY(-30px);
            opacity:0;
            visibility: hidden;
          }
          .addToCart__disabled{
            transform: translateY(-30px);
            opacity: 1;
            visibility: visible;
          }
        }

      }
      span {
        padding-top: 4px;
        padding-right: 5px;
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}

.stars {
  i.stars__item {
    color: darkorange;
  }
  i {
    font-size: 16px;
    margin: 0 2px 15px;
    color: #d6d4d2;
  }
}



