.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapperFlowers{
  width: 100%;
  background: #ececec;
  padding: 50px 0;
}
.title{
  font-size: 30px;
  font-weight: 600;
  color: #444;
  text-transform: uppercase;
  margin-left: 50px;
  text-align: left;
}
.containerFlowers{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
  border: 2px solid #d42853;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
  background-color: #d42853;
}

a{
  color: #d42853;
}
select{
  display: block;
}
