.login {
  max-width: 500px;
  padding: 20px;
  margin: 50px auto;
  -webkit-box-shadow: 10px 10px 73px -5px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 10px 10px 73px -5px rgba(0, 0, 0, 0.29);
  box-shadow: 10px 10px 73px -5px rgba(0, 0, 0, 0.29);
}

.iconsContainer {
  margin-top: 20px;
  .icons {
    cursor: pointer;
    img {
      width: 20px;
      height: auto;
    }
  }

}