.title {
  font-size: 30px;
}

.cardContainer {
  justify-content: center;
  display: flex;
  width: 1000px;
  &__pictures {
    width: 50%;
  }
  &__info {
    width: 50%;
    text-align: left;
  }
  &__reviews{
    margin-top: 150px;
  }
}

.submit {
  display: flex;
  flex-wrap: wrap;
  &__summ{

  }
}

.info {
  &__countFlowers {

  }
  &__title {
    font-weight: 600;
  }
  &__params {
    margin: 5px 0 5px 20px;
    font-size: 14px;
    color: #797979;
    span {
      padding: 0 5px;
    }
  }
}

.addToCart {
  background: #d42853;
  padding: 2px;
  border-radius: 30px;
  font-size: 16px;
  color: #fff;
  height: 50px;
  transition: all .3s;
  cursor: pointer;
  margin-top: 6px;
  width: 160px;
  &__success{
    color: #fff;
    .addToCart__active, .addToCart__disabled{
      display: flex;
      transition: all .2s ease-in-out;
      justify-content: center;
      overflow: hidden;
    }
    .addToCart__active{
      transform: translateX(0px);
      visibility: visible;
    }
    .addToCart__disabled{
      transform: translateY(0px);
      opacity:0;
      visibility: hidden;
    }
    &:hover{
      background: #881d38;
      .addToCart__active{
        transform: translateY(-30px);
        opacity:0;
        visibility: hidden;
      }
      .addToCart__disabled{
        transform: translateY(-30px);
        opacity: 1;
        visibility: visible;
      }
    }

  }
  &__default {
    display: flex;
    justify-content: center;
    span {
      margin-top: 5px;
    }
    i {
      padding-left: 6px;
    }
  }

  &:hover {
    background: #881d38;
    span {
      color: #fff;
    }
    i {
      color: #fff;
    }
  }
}

.counter {
  border-radius: 20px;
  margin: 8px 10px 8px 0;
  width: 120px;
  background: #e1e3ec;
  color: #6d6d6d;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 14px;
  .item {
    width: 33.3333%;
    &__number {
      color: #000;
    }
    i {
      color: #9c9c9c;
      cursor: pointer;
      transition: all .3s;
      &:hover {
        color: #000;
      }
    }
  }
}

.filters {
  transition: all .2s;
  text-align: left;
  &__item {
    display: flex;
  }
  &__chip {
    cursor: pointer;
  }
  &__chipActive {
    background: #d42853;
    color: #FFF;
  }
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  .titleHeader{
    padding-top:14px;
    color: #797979;
  }
  .iconsBox {
    display: flex;
    width: 80px;
    justify-content: space-between;
    .iconsPanel {
      margin-top: 10px;
      a {
        color: #afb1b7;
        transition: all .3s;
        cursor: pointer;
        &:hover {
          color: #16171a;
        }
        &.active {
          color: #d42853;
          &:hover {
            color: #d42853;
          }
        }
      }

    }
  }
}

.TabPane{
  &__content{
    max-width: 600px;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
  }
  &__tab{
    height: 300px;
  }
  &__title{
    font-size: 18px;
    text-align: left;
    color: #444;
  }
  &__footer{
    display: flex;
    justify-content: space-between;
  }
  &__submit{
    padding-top: 10px
  }
}

.button {
  padding: 15px 20px;
  color: #fff;
  background: #d42853;
  border: 0;
  transition: all .3s;
  cursor: pointer;
  font-size: 16px;
  border-radius: 30px;
  i {
    font-size: 20px;
    line-height: 0;
  }
  &:hover {
    background: #881d38;
  }
  &:active{
    background: #d42853;
  }
}

.resultPrice{
  margin-top: 20px;
  &__title{

  }
  &__price{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.85);
  }
}