
.contentForm {
  padding: 20px;
}

.itemHeader {
  display: flex;
  justify-content: space-between;
  .itemCounter {
    text-align: left;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid red;
    padding: 3px 8px;
    color: red;
  }
  .itemDelete {
    border: 2px solid red;
    padding: 5px 30px;
    color: red;
    border-radius: 30px;
    cursor: pointer;
    transition: all .3s;
    &:hover {
      background: red;
      color: #fff
    }
  }

}

.itemSuccess {
  margin: 20px auto;
  display: block;
  width: 220px;
  border: 2px solid #09b741;
  border-radius: 30px;
  cursor: pointer;
  transition: all .3s;
  padding: 10px 30px;
  color: #09b741;
  &:hover {
    background: #09b741;
    color: #fff
  }
}

.filters {
  transition: all .2s;
  text-align: left;
  &__item {
    display: flex;
  }
  &__chip {
    cursor: pointer;
  }
  &__chipActive {
    background: #d42853;
    color: #FFF;
  }
}

.oldPrice{
  color: #d42853;
  font-size: 18px;
}


.colors {
  margin: 40px auto 20px;
  width: 300px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  .colorsContainer {
    display: flex;
    flex-wrap: wrap;
    .colorItem {
      cursor: pointer;
      display: block;
      width: 30px;
      height: 30px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      border: 2px solid #afb1b7;
      position: relative;
      margin: 5px;
      transition: all .3s;
      &::after {
        content: '';
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 28px;
        height: 28px;
        border-radius: 14px;
        background: rgba(42, 43, 45, 0.22);
        transition: all .3s;
      }
      &:hover {
        &::after {
          opacity: 1;
          transition: all .3s;
        }
      }
    }
    .colorSuccess {
      border: 3px solid #1477ff;
    }

  }
  .textCount{
    font-size: 15px;
    margin: 20px 0 30px;
    color: #73757a;
  }
}

.formOrder{
  max-width: 500px;
  padding: 20px;
}