.noUi-horizontal {
    height: 7px;
  .noUi-connect {
    background: #d42853;
  }

  .noUi-handle{
    width: 20px;
    height: 20px;
    right: -10px;
    top: -8px;
    border-radius: 10px;
    .noUi-tooltip {
      font-size: 13px;
    }
    &::after{
      content: none;
    }
    &::before{
      content: none;
    }
    &:focus{
      outline: none;
    }
  }
}