.ReviewsList{
  &__item{
    margin-bottom: 20px;
    box-shadow: 10px 10px 34px -17px #b5b5b5;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
  }
  &__header{
    display: flex;
    color: #8b8b8b;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__name{
    font-weight: 500;
    color: #d42853;
    font-size: 18px;
  }
  &__text{

  }
  &__rate{

  }
  &__empty{
    margin-bottom: 10px;
  }
}