.slick-dots{
    bottom: -20px;
    li{
        width: 10px;
        button{
            &::before{
                font-size: 11px;
            }
        }
    }
    li.slick-active{
        button{
            &::before{
                color: #d42853
            }
        }
    }
}
.slick-next {
    right: 0;
}
.slick-prev {
    left: 0;
}
.slick-prev, .slick-next {
    z-index: 100;
}
.slick-prev:before, .slick-next:before{
    color: #d42853
}