.Profile{
  max-width: 1000px;
  margin: 50px auto;
  &__info{
    i{
      font-size: 100px;
      color: #d42853
    }
    p{
      font-size: 30px;
      margin-top: 0;
      color: #444444;
    }
  }
  &__Orders{

  }
  &__titleOrderCard {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    margin-left: 90px;
    i {
      margin-top: -6px;
      margin-right: 15px;
      display: block;
      font-size: 40px;
      color: #d42853;
    }
  }
}
.OrderControl{
  &__titleOrderCard {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    margin-left: 90px;
    i {
      margin-top: -6px;
      margin-right: 15px;
      display: block;
      font-size: 40px;
      color: #d42853;
    }
  }
}
.Profile {
  max-width: 1000px;
  margin: 50px auto;
  &__info {
    i {
      font-size: 100px;
      color: #d42853
    }
    p {
      font-size: 30px;
      color: #444444;
    }
  }

}
.OrderProfile{
  display: flex;
  justify-content: space-between;
  &__input{
    margin: 0 45px 0 15px
  }
}

.StatusOrder{
  display: flex;
  i{
    margin-top: 8px;
    margin-right: 10px;
  }
  select{
    option{
      font-weight: 600;
    }
  }
}
.filtersTrackOrder{
  display: flex;
  margin: 20px 30px 0;
  &__link{
    background: #d42853;
    color: #fff;
    border-radius: 5px;
  }
  a{
    padding: 5px 10px;
    cursor: pointer;
  }
}