.Catalog {

  &__container{
    max-width: 1000px;
    margin: 50px auto;
  }
  &__row{
    display: flex;
  }
  &__flowers {
    display: flex;
    width: 70%;
    max-width: 1000px;
  }
  &__filter{
    width: 30%;
    max-width: 300px;

  }
}
.CatalogFilter{
  box-shadow: 10px 10px 37px -2px #b5b5b5;
  padding: 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  &__item{

  }
  &__title{
    font-size: 18px;
    color: #444444;
    margin: 20px;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__button{
    margin:30px auto;
  }
}
.PriceFilter{
  margin: 60px auto 20px;
}

.ColorsFilter{
  display: flex;
  flex-wrap: wrap;

  .colorItem {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid #afb1b7;
    position: relative;
    margin: 5px;
    transition: all .3s;

    &::after {
      content: '';
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      width: 28px;
      height: 28px;
      border-radius: 14px;
      background: rgba(42, 43, 45, 0.22);
      transition: all .3s;
    }

    &:hover {
      &::after {
        opacity: 1;
        transition: all .3s;
      }
    }
  }

  .colorSuccess {
    border: 3px solid #1477ff;
  }
}

.button{
  padding: 15px 20px;
  color: #fff;
  background: #d42853;
  border: 0;
  transition: all .3s;
  cursor: pointer;
  font-size: 16px;
  border-radius: 30px;
  i {
    font-size: 20px;
    line-height: 0;
  }
  &:hover {
    background: #881d38;
  }
}

.CategoriesFilter{
  &__category{
    text-align: left;
    display: flex;
    background: antiquewhite;
    padding: 5px 10px 5px 20px;
    border-radius: 10px;
    font-size: 13px;
    color: crimson;
    cursor: pointer;
  }
  &__active{
    background: rgba(9, 183, 65, 0.31);
    color: #09b741;
  }
  &__icon{
    color: #09b741;
    font-size: 20px;
  }
  &__text{
    display: block;
    padding-top: 5px;
  }
  &__badges{
    color: #fff;
  }
}