.title {
  font-size: 20px;
  color: #444;
  margin-bottom: 5px;
  margin-top: 0px;
  width: 250px;
}

.cardContainer {
  justify-content: center;
  display: flex;
  width: 1000px;
  height: 250px;
  padding: 20px;
  position: relative;
  margin: 0 auto;
  &__pictures {
    width: 200px;
    min-width: 200px;
  }
  &__onePicture {
    width: 130px;
    min-width: 130px;
  }
  &__info {
    text-align: left;
    width: 100%;
    padding-left: 20px;
    padding-right: 40px;
  }
}

.cardContainerOrder {
  height: 150px;
}

.submit {
  display: flex;
  flex-wrap: wrap;
}

.info {
  &__text {
    margin: 0;
    font-size: 20px;
    color: #16171a;
  }
  &__textPrice {
    font-weight: 700;
  }
  &__textTitle {
    color: #686868;
    font-size: 14px;
  }
  &__title {
    font-weight: 600;
  }
  &__params {
    margin: 5px 0 5px 20px;
    font-size: 14px;
    color: #797979;
    span {
      padding: 0 5px;
    }
  }
  &__price {
    font-size: 22px;
    font-weight: 700;
    color: #16171a;
    margin-top: 10px;
  }
}

.addToCart {
  background: #d42853;
  padding: 2px;
  border-radius: 30px;
  font-size: 16px;
  color: #fff;
  border: 2px solid #d42853;
  height: 40px;
  transition: all .3s;
  cursor: pointer;
  margin-top: 6px;
  width: 150px;
  &__success {
    color: #09b741;
    .addToCart__active, .addToCart__disabled {
      display: flex;
      transition: all .2s ease-in-out;
      justify-content: center;
      overflow: hidden;
    }
    .addToCart__active {
      transform: translateX(0px);
      visibility: visible;
    }
    .addToCart__disabled {
      transform: translateY(0px);
      opacity: 0;
      visibility: hidden;
    }
    &:hover {
      background: transparent;
      border: 2px solid #d42853;
      span {
        color: #d42853;
      }
      i {
        color: #d42853;
      }
      .addToCart__active {
        transform: translateY(-30px);
        opacity: 0;
        visibility: hidden;
      }
      .addToCart__disabled {
        transform: translateY(-30px);
        opacity: 1;
        visibility: visible;
      }
    }

  }
  &__default {
    display: flex;
    justify-content: center;
    span {
      margin-top: 5px;
    }
    i {
      padding-left: 6px;
    }
  }

  &:hover {
    background: #09b741;
    border: 2px solid #09b741;
    span {
      color: #fff;
    }
    i {
      color: #fff;
    }
  }
}

.counter {
  border-radius: 20px;
  margin: 8px 10px 8px 0;
  width: 120px;
  background: #e1e3ec;
  color: #6d6d6d;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 14px;
  .item {
    width: 33.3333%;
    &__number {
      color: #000;
    }
    i {
      color: #9c9c9c;
      cursor: pointer;
      transition: all .3s;
      &:hover {
        color: #000;
      }
    }
  }
}

.filters {
  transition: all .2s;
  text-align: left;
  &__item {
    display: flex;
  }
  &__chip {
    cursor: pointer;
  }
  &__chipActive {
    background: #d42853;
    color: #FFF;
  }
}

.filtersInline {
  display: flex;
  &__item {
    margin-left: 10px;
    margin-top: 8px;
  }
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  .titleHeader {
    padding-top: 14px;
    color: #797979;
    &__order {
      padding-top: 0;
    }
  }
  .iconsBox {
    display: flex;
    width: 80px;
    justify-content: space-between;
    .iconsPanel {
      margin-top: 10px;
      a {
        color: #afb1b7;
        transition: all .3s;
        cursor: pointer;
        &:hover {
          color: #16171a;
        }
        &.active {
          color: #d42853;
          &:hover {
            color: #d42853;
          }
        }
      }

    }
  }
}

.imgGallery {
  width: 100%;
}

.closeBlock {
  .close {
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
    line-height: 0;
    border-radius: 100%;
    font-size: 14px;
    color: #676767;
    background: #fff;
    transition: all .5s;
    display: block;
    &:hover {
      color: #fff;
      background: #d42853;
    }
  }
}

.resultCard {
  display: flex;
  padding: 40px;
  font-size: 22px;
  margin: 50px auto;
  width: auto;
  max-width: 1000px;
  justify-content: space-between;
  -webkit-box-shadow: 10px 10px 37px -2px rgba(181, 181, 181, 1);
  -moz-box-shadow: 10px 10px 37px -2px rgba(181, 181, 181, 1);
  box-shadow: 10px 10px 37px -2px rgba(181, 181, 181, 1);
  span {
    font-weight: 700;
  }
  &__counts {
    span {
      color: #d42853;
    }
  }
  &__price {

  }
}

.button {
  padding: 15px 20px;
  color: #fff;
  background: #d42853;
  border: 0;
  transition: all .3s;
  cursor: pointer;
  font-size: 16px;
  border-radius: 30px;
  i {
    font-size: 20px;
    line-height: 0;
  }
  &:hover {
    background: #881d38;
  }
}

.containerOrder {
  .orderedCard {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    max-width: 1000px;
    .formOrder {
      width: 400px;
      margin: 10px;
      padding: 40px 40px 20px 60px;
      border-radius: 30px;
      -webkit-box-shadow: 10px 10px 37px -2px rgba(181, 181, 181, 1);
      -moz-box-shadow: 10px 10px 37px -2px rgba(181, 181, 181, 1);
      box-shadow: 10px 10px 37px -2px rgba(181, 181, 181, 1);
      &__price {
        font-size: 17px;
        font-weight: 600;
        text-align: left;
        width: 100px;
        margin: 0 auto;
        color: #d42853;
      }
      &__title {
        label {
          margin-left: -10px;
          span {
            font-size: 1rem;
            color: #444;
            text-align: left;
          }
        }
        margin: 20px auto 5px;
        width: 204px;
      }
      &__service {
        margin-bottom: 46px;
        text-align: left;
      }

    }
  }
}

.containerCard{
  &__flowerItem{
    margin: 50px auto;
    max-width: 1000px;
  }
}

.titleOrderCard {
  font-size: 22px;
  font-weight: 600;
  display: flex;
  i {
    margin-top: -6px;
    margin-right: 15px;
    display: block;
    font-size: 40px;
    color: #d42853;
  }
  &__margin{
    margin-left: 50px;
    margin-bottom: 30px;
  }
}

.successOrderData{
  display: block;
  margin: 50px auto;
  h5{
    margin-bottom: 30px;
  }
  p{
    span{
      font-size: 18px;
      font-weight: 600;
    }
  }
}