.TrackOrder{
  padding: 50px 20px;
  &__row{
    width: auto;
    max-width: 1000px;
  }
}
.button {
  padding: 15px 20px;
  color: #fff;
  background: #d42853;
  border: 0;
  transition: all .3s;
  cursor: pointer;
  font-size: 16px;
  border-radius: 30px;
  i {
    font-size: 20px;
    line-height: 0;
  }
  &:hover {
    background: #881d38;
  }
}

.TrackOrderSuccess{
  &__item{
    margin: 30px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 37px -2px #b5b5b5;
    display: block;
    transition: all .3s;
    h3{
      font-size: 24px;
      span{
        font-weight: 700;
      }
    }
  }
  &__itemInfo{
    transition: all .5s;
    cursor: pointer;
    padding: 30px 20px;
    &:hover{
      background: rgba(246, 52, 101, 0.23);
      transition: all .5s;
    }
  }
  &__hidden{
    display: none;
    transition: all .3s;
  }
  &__params{

  }
  &__titleflower{
    font-weight: 600;
  }
  &__flowerInfo{
    display: flex;
    justify-content: space-evenly;
  }
  &__paramsTitle{
    font-weight: 600;
    font-size: 17px;
  }
  &__paramsValue{
    font-size: 15px;
    width: 160px;
    display: flex;
    justify-content: center;
    i{
      margin-right: 10px;
    }
    p{
      margin-top:0
    }
  }
  &__trackNumber{
    background: transparent;
    color: #d42853;
    padding: 20px 0 0;
    box-shadow: none;
    margin-top: 0;
  }
  &__infoOrder{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
  }
}
.TrackOrderEmpty{

}

.titleOrderCard {
  font-size: 22px;
  font-weight: 600;
  display: flex;
  i {
    margin-top: -6px;
    margin-right: 15px;
    display: block;
    font-size: 40px;
    color: #d42853;
  }
}