.navbar {

}

.countLikes {
  position: relative;
  &__item {
    padding: 8px;
    color: #fff;
    background: #d42853;
    border-radius: 16px;
    position: absolute;
    top: 7px;
    line-height: 7px;
    right: -14px;
    font-size: 13px;
  }
}
.authLinks{
  display: flex;
  &__text{
    margin-left: 5px;
  }
}