.ant-tabs-nav .ant-tabs-tab-active{
  color: #d42853;
  font-size: 18px;
  &:hover{
    color: #8a1934;
  }
}
.ant-tabs-nav .ant-tabs-tab{
  font-size: 18px;
  &:hover{
    color: #8a1934;
  }
}
.ant-tabs-ink-bar{
  background-color: #d42853;
}
.ant-tabs-nav-scroll{
  display: flex;
  justify-content: start;
}
.ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane, .ant-tabs .ant-tabs-bottom-content > .ant-tabs-tabpane{
  min-height: 300px;
  outline: none;
  height: auto;
}
.ant-rate-star-first, .ant-rate-star-second{
  color: rgba(212, 40, 83, 0.64)
}