.progress{
  margin-bottom: 50px;
  ul{
    display: flex;
    li{
      background: plum;
      color: #f2f2f2;
      padding: 5px;
      width: 33.3%;
      border-right: 2px solid #fff;
      &.active{
        background: #d42853 !important;
        color: #fff;
      }
      h6{
        span{
          position: relative;
          z-index: 1;
          margin-right: 10px;
          font-weight: 600;
          &::after{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            top: -3px;
            right: -9px;
            border-radius: 20px;
            z-index: -1;
          }
        }
      }
      i{
        font-size: 40px;
      }

    }


  }
}
