

.carousel {
  overflow: visible;
  position: relative;
  .badges{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    z-index: 100;
    .badgeItem{
      padding: 2px 7px;
      margin: 0 2px;
      color: #fff;
      font-size: 11px;
      text-transform: uppercase;
      border-radius: 13px;
    }
  }
  .slick-dots {
    position: relative;
    li {
      margin: 0 20px;
      width: auto;
      height: auto;
      .customImage {

        img {
          height: 400px;
          max-width: 100%;
          margin: 0 auto;
          max-height: 50px;
          width: auto;
        }
      }
    }
  }
}

